<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/jq.js"></script>
    <script src="./boot/js/bootstrap.js"></script>
    <link rel="stylesheet" href="./boot/css/bootstrap.css">
    <style>
        .right{
            float: right;
            font-size: 18px;
            margin-top:20px;
           
        }
        .right a{
            color: grey;
            text-decoration: none;
        }
        
        </style>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>派大星的个人博客 <small>一个温柔的小胖子</small>
                <div class="right"><a href="/admin">个人首页</a></div>
            </h1>
        </div>
        <div class="row">
                <% data.forEach(function(e){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                      
                              <h3><a href="/page?id=<%= e._id %>"><%=e.title%></a></h3>
                              <p><%=e.intor%></p>
                              <a href="/admin/change?id=<%= e._id %>" role="button">
                                <button type="submit" name='change'>修改</button></a> 
                                <a href="/admin/remove?id=<%= e._id %>" role="button">
                                    <button type="submit" name='remove'>删除</button>
                                </a>
                        
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</body>

</html>